language: node_js
node_js:
  - lts/*
install:
  - npm install -g codecov
  - npm install
jobs:
  include:
    - stage: Build and Test
      script: 
        - npm run lint
        - npm run test
        - npm run build
      after_success:
        - codecov        
    - stage: NPM release
      script: npm run build
      deploy:
        edge: true
        provider: npm
        email: "$NPM_EMAIL"
        api_token: "$NPM_TOKEN"
        on:
          branch: master
          tags: true
branches:
  only:
    - master
    - /^v[0-9]+.*$/