@use "sass:color";

$bg-button-default: white;
$color-button-default: #333;
$bg-button-submit: #3a86ff;
$color-button-submit: white;
$bg-button-reset: #ef233c;
$color-button-reset: white;

$button-border-color: color.adjust($bg-button-default,
    $lightness: -10%,
    $space: hsl);
$button-submit-border-color: color.adjust($bg-button-submit,
    $lightness: -10%,
    $space: hsl);
$button-reset-border-color: color.adjust($bg-button-reset,
    $lightness: -10%,
    $space: hsl);

.vdpr-datepicker__button {
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  padding: 6px 12px;
  line-height: 1.5;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 4px;

  &--block {
    width: 100%;
    display: block;
  }

  &-default {
    color: $color-button-default;
    background-color: $bg-button-default;
    border-color: $button-border-color;

    &:hover {
      background-color: $button-border-color;
    }
  }

  &-submit {
    color: $color-button-submit;
    background-color: $bg-button-submit;
    border-color: $button-submit-border-color;

    &:hover {
      background-color: $button-submit-border-color;
    }
  }

  &-reset {
    color: $color-button-reset;
    background-color: $bg-button-reset;
    border-color: $button-reset-border-color;

    &:hover {
      background-color: $button-reset-border-color;
    }
  }
}