@use "sass:color";

$bg-calendar-highlighted: #3a86ff;
$bg-calendar-not-selected: #eee;
$bg-calendar-disabled: #a6a6a6;
$color-calendar-highligted: white;
$color-calendar-not-selected: #333;
$color-calendar-disabled: #ccc;
$color-calendar-faded: #ccc;
$color-calendar-header: #333;

.vdpr-datepicker__calendar {
  box-sizing: border-box;
  background-color: white;

  &-month-year {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    flex-basis: 70%;
  }

  &-control {
    @include flex-sb-c;
    padding: 10px;

    &-prev,
    &-next {
      cursor: pointer;
      position: relative;
      border-radius: 50%;
      border: 1px solid #333;
      color: #333;
      padding: 12px;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-prev:before {
      content: "\003c";
    }

    &-next:before {
      content: "\003e";
    }

    &-disabled {
      cursor: not-allowed;
      background-color: #ccc;
    }
  }

  &-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 1px;

    >* {
      margin: 0;
      padding: 0;
    }

    thead {
      text-transform: uppercase;
      text-align: center;
      font-size: 12px;
    }

    th {
      white-space: nowrap;
      overflow: hidden;
      padding: 4px;
      line-height: 28px;
      color: $color-calendar-header;
    }

    td {
      white-space: nowrap;
      overflow: hidden;
      line-height: 35px;
      text-align: center;
      background-color: $bg-calendar-not-selected;
      color: $color-calendar-not-selected;
      font-size: 14px;

      &:hover {
        cursor: pointer;
        background-color: color.adjust($bg-calendar-not-selected, $lightness: -5%, $space: hsl);
      }
    }

    .faded {
      color: $color-calendar-faded;
    }

    .highlighted {
      background-color: $bg-calendar-highlighted;
      color: $color-calendar-highligted;

      &:hover {
        background-color: color.adjust($bg-calendar-highlighted, $lightness: -5%, $space: hsl);
      }
    }

    .disabled {
      cursor: not-allowed;
      background-color: $bg-calendar-disabled;
      color: $color-calendar-disabled;

      &:hover {
        cursor: not-allowed;
        background-color: $bg-calendar-disabled;
      }
    }
  }
}