@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vdpr-datepicker {
  position: relative;

  &__calendar-dialog {
    position: absolute;
    margin-top: 2px;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    display: flex;
    flex-direction: row;
  }

  &__calendar-button-helper {
    width: 140px;
    padding: 5px 10px;

    > :not(:first-child) {
      margin-top: 5px;
    }
  }

  &__calendar-actions {
    width: 160px;
    padding: 5px 10px;
    font-size: 13px;

    > :not(:first-child) {
      margin-top: 5px;
    }
  }
}

.vdpr-datepicker__calendar {
  box-sizing: border-box;
  width: 300px;
  background-color: white;

  &-month-year {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    flex-basis: 70%;
  }

  &-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    &-prev,
    &-next {
      cursor: pointer;
      position: relative;
      border-radius: 50%;
      border: 1px solid #333;
      color: #333;
      padding: 12px;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-prev:before {
      content: "\003c";
    }

    &-next:before {
      content: "\003e";
    }

    &-disabled {
      cursor: not-allowed;
      background-color: #ccc;
    }
  }

  &-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 1px;

    > * {
      margin: 0;
      padding: 0;
    }

    thead {
      text-transform: uppercase;
      text-align: center;
      font-size: 12px;
    }

    th {
      white-space: nowrap;
      overflow: hidden;
      color: #333;
      padding: 4px;
      line-height: 28px;
    }

    td {
      white-space: nowrap;
      overflow: hidden;
      line-height: 33px;
      text-align: center;
      background-color: #eee;
      color: #333;
      font-size: 14px;

      &:hover {
        cursor: pointer;
        background-color: darken(#ccc, 5%);
      }
    }

    .faded {
      color: #ccc;
    }

    .highlighted {
      background-color: #3a86ff;
      color: white;

      &:hover {
        background-color: darken(#3a86ff, 5%);
      }
    }

    .disabled {
      background-color: darken(#ccc, 10%);
      cursor: not-allowed;

      &:hover {
        cursor: not-allowed;
        background-color: darken(#ccc, 10%);
      }
    }
  }
}

.vdpr-datepicker__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;

  > input {
    display: none;

    &:checked {
      + .vdpr-datepicker__switch-slider {
        background-color: #3a86ff;
      }

      + .vdpr-datepicker__switch-slider::before {
        transform: translateX(26px);
      }

      + .vdpr-datepicker__switch-slider::after {
        content: "ON";
        left: 25%;
      }
    }
  }

  &-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 5px;
      bottom: 3px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }

    &:after {
      content: "OFF";
      position: absolute;
      font-size: 11px;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);
      color: white;
    }
  }
}

.vdpr-datepicker__button {
  cursor: pointer;
  user-select: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  padding: 6px 12px;
  line-height: 1.5;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 4px;

  &--block {
    width: 100%;
    display: block;
  }

  &-default {
    color: #333;
    background-color: white;
    border-color: #ccc;

    &:hover {
      background-color: darken(white, 10%);
    }
  }

  &-submit {
    color: white;
    background-color: #3a86ff;
    border-color: darken(#3a86ff, 10%);

    &:hover {
      background-color: darken(#3a86ff, 10%);
    }
  }
}

.vdpr-datepicker__calendar-input-date {
  box-sizing: border-box;
  padding: 5px;
  height: 30px;
  background-color: #eee;

  &-elem {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}

.vdpr-datepicker__calendar-input-time {
  position: relative;
  box-sizing: border-box;
  background-color: #eee;
  height: 30px;
  padding: 5px;

  &-elem {
    border: none;
    outline: none;
    height: 100%;
    width: 80%;
    background-color: transparent;
  }

  &-control {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    flex-direction: column;
    @include flex-center;

    &-up,
    &-down {
      cursor: pointer;
      color: #999;
      @include flex-center;

      &:hover {
        color: black;
      }
    }
  }
}
